@font-face {
	font-family: 'HelveticaBold';
	src: url('Helvetica/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'HelveticaRegular';
	src: url('Helvetica/OpenSans-Regular.ttf');
}
/******************************************header***************************************/
body{
	font-family: 'HelveticaRegular';
	margin: 0px !important;
	padding: 0px !important;
}
body.modal-open {
	overflow: visible;
}
.bor{
	border:1px dotted red;

}
label{
	margin: 0px;
	cursor: pointer;
}

*{
	outline: none;
}
a{
	outline: none;
	text-decoration: none;
	color:inherit;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 0px 0px;
}
a:hover{
	outline: none;
	text-decoration: none;
	color:inherit;
	background-color: transparent;
}
a:focus{
	outline: none;
	text-decoration: none;
	color:inherit;
}

ul{
	list-style-type: none;
}
a:hover{
	text-decoration: none;
}
body{
	margin:0px;
}
.logo{
	position: relative;
	max-width: 80px;
	max-height: 80px;
	margin-left: 5px;
	top: 5px;
}
nav{
	background: #fff;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.nopadding{
	padding: 0px;
}
.nopadleft{
	padding-left:0px;
}
.nopadright{
	padding-right:0px;
}
p{
	margin:0px;
}
ul{
	margin:0px;
	padding:0px;
}
.content{
	width: 1170px;
	margin: 0px auto;
}
.header_image{
	position: relative;
	height: 620px;
	background-image: url("../../assets/images/content/head_back.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
@media  (max-width: 1920px) {
	.header_image {
		height: 780px;
	}
}

@media  (max-width: 1366px) {
	.header_image {
		height: 620px;
	}
}

@media  (max-width: 1030px) {
	.header_image {
		height: 450px;
	}
}
.images_header {
	/*margin-top: 74px;*/
}
/*.header_image > img{*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*margin: auto;*/
	/*width: 100%;*/
/*}*/



.head_info{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.head_phones{
	display: flex;
	flex-direction: row;
	margin-top: 106px;
}
.head_line{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.head_line_img{
	margin-right: 5px;
	display: flex;
}
.head_line_info{
	display: flex;
	color: #ffffff;
	margin-right: 15px;
	font-family: HelveticaBold;
	cursor: pointer;
}
.head_timer{
	display: flex;
	flex-direction: row;
	margin-top: 80px;
	background-color: rgba(255,255,255,0.7);
	-webkit-border-radius:10px ;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: fit-content;
}
.timer{
	width: 125px;
	height: 110px;
	display: flex;
	flex-direction: column;
	-webkit-border-radius:10px ;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #FFFFFF70;
	align-items: center;
	justify-content: center;
}
.timer_num{
	font-family: HelveticaBold;
	color: #106DB2;
	font-size: 50px;
}
.timer_word{
	color: #106DB2;
	font-size: 22px;
}
.head_actions{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.head_hotel_loc{
	display: flex;
	flex-direction: row;
	background-color: #FFFFFF;
	width: 162px;
	height: 70px;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	-webkit-border-radius:10px ;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 5px;
}
.head_hotel_icon{
	margin: 5px;
}
.head_hotel_name{
	color: #106DB2;
	font-size: 14px;
	text-align: center;
}
.head_reg_and_pay{
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 273px;
	background-color: #106DB2;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	-webkit-border-radius:10px ;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left: 30px;
}
.head_reg_and_pay > a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	width: 100%;
	height: 100%;
}
.head_rp_text{
	color: #FFFFFF;
	font-size: 18px;
	margin: 5px;
}

.head_rp_arrow{
	margin: 5px;
}
.head_menu{
	background-color: #106DB2;
}
.h_menu{
	display: flex;
	flex-direction: row;
}
.h_menu_item{
	color: #FFFFFF;
	font-size: 16px;
	height: 70px;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	border-left: 1px solid #3B87C0;
	position: relative;
}
.h_menu:last-child{
	border-right: 1px solid #3B87C0;
}
.h_menu_item > .h_m_a {
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 15px;
}
.h_menu_item > .h_m_a:hover {
	background-color: #0a3d64;
}
.h_menu_item.active > .h_m_a {
	background-color: #0a3d64;
}
a.mailto {
	color: #106db2;
	font-weight: bold;
}
textarea.company {
	padding: 14px 30px;
	border: 1px solid #DBE1E8;
	box-shadow: 0 0 black;
	border-radius: 3px;
	width: 83%;
	height: 250px;
	resize: none;
}

.main_member{
	margin-top: 35px;
	margin-bottom: 50px;
}
.main_page_title{
	font-family: HelveticaBold;
	color: #000000;
	font-size: 28px;
}
.main_mem{
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-top: 25px;
}
.member_img{
	display: flex;
	flex-direction: column;
	width: 250px;
}
.member_img_name{
	margin-top: 10px;
	font-family: HelveticaBold;
	color: #000000;
	font-size: 16px;
}
.member_img_staf{
	font-size: 14px;
	color: #707070;
	padding-right: 25px;
	margin-top: 6px;
}
.member_desc{
	display: flex;
	flex: 1;
}
.member_desc_text{

}
.member_desc_text > p {
	font-size: 15px;
	margin-bottom: 10px;
}
.for_mob{
	display: none;
}
.h_menu_item:hover .open_menu_item{
	display: flex;
}
.open_menu_item {
	position: absolute;
	background: #106db2;
	display: none;
	flex-direction: column;
	flex: 1;
	width: 100%;
	top: 70px;
	z-index: 9999;
	box-shadow: 0px 0px 4px #283540;
}
a.open_m_i {
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,0.18);
}
a.open_m_i:hover {
	background-color: #0a3d64;
}
.open_m_i.active{
	background-color: #0a3d64;
}
.abs_con ul {
	list-style-type: disc;
}
.abs_con ul {
	list-style-type: disc;
	margin-left: 45px;
}

/******program**************/
.pro_m_cols {
	background-color: #F8F9FA;
	padding: 25px;
}
.pro_mm_cols {
	display: flex;
	flex-direction: column;
}
.pro_m_bl {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
	margin-bottom: 15px;
}
.pro_man_img {
	width: 225px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 184px;
}
.pro_man_about {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-top: 15px;
}
.man_img img {
	max-width: 100%;
	max-height: 100%;
}
.man_img {
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.pro_time {
	font-size: 16px;
	color: #505050;
}
.pro_name {
	font-size: 26px;
	color: #000000;
	font-family: 'HelveticaBold';
}
.pro_desc {
	font-size: 14px;
	color: #000;
	text-transform: capitalize;
}
.p_name {
	font-size: 16px;
	/*font-family: 'HelveticaBold';*/
}
.p_name span {
	cursor: pointer;
	color: #106DB2;
}
.pro_name_col {
	display: flex;
	flex-direction: row;
}
.p_company {
	color: #505050;
	font-size: 16px;
	margin-left: 20px;
}
.pro_time, .pro_name, .pro_name_col, .pro_desc {
	margin-bottom: 15px;
}
.pro_tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.tabs_col {
	position: relative;
	display: flex;
	flex: 1;
	/*flex-direction: column;*/
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*height: 100px;*/
	height: 50px;
	background-color: #FFF;
	cursor: pointer;
	font-size: 20px;
	font-family: 'HelveticaBold';
}
.tabs_col > p{
	margin-left: 10px;
}
.tabs_col:after {
	content: "";
	display: none;
	background-color: transparent;
	position: absolute;
	bottom: -10px;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
}
.tabs_col.active:after{
	background-color: #106DB2;
}
.tabs_col:hover:after{
	background-color: #106DB2;
}
.tabs_col:hover {
	background-color: #106DB2;
	color: #fff;
}
.tabs_col.active {
	background-color: #106DB2;
	color: #fff;
}
.tab_each{
	display: none;
	flex-direction: column;
}
.tab_each:nth-of-type(1){
	display: flex;
}
.prog_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	padding: 20px 10px;
}
.prog_h_con {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.prog_h_con_c:nth-of-type(1) {
	margin-right: 30px;
}
.prog_h_con_c a {
	font-size: 16px;
	color: #106DB2;
	font-family: 'HelveticaBold';
}
.prog_h_t {
	font-size: 28px;
	color: #000000;
	font-family: 'HelveticaBold';
}
.prog_h_con_c {
	display: flex;
	align-items: center;
}
.prog_h_con_c img {
	margin-right: 5px;
}
.speakers_m_col {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}
.speakers_col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 210px;
	height: 291px;
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
	margin-bottom: 25px;
	align-items: center;
	box-sizing: border-box;
}
.spek_img {
	width: 138px;
	height: 138px;
	overflow: hidden;
	position: relative;
}
.spek_img img {
	max-width: 100%;
	max-height: 100%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.more_info {
	width: 133px;
	height: 47px;
	background: #106DB2;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.more_info:hover {
	background: #106db2d6;
}
div#pop_speak {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 80;
	background: #1b191942;
	top: 0px;
	left: 0px;
	display: none;
	align-items: center;
	justify-content: center;
}
div#pop_speak_col {
	position: relative;
	background: #fff;
	width: 700px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 25px 0px;
}
div#close_s_pop {
	position: absolute;
	top: -13px;
	right: -10px;
	background: #ffffff;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #106db2;
	box-shadow: 0px 1px 5px #27272733;
}
div#spek_img {
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #0000001c;
}
div#s_pop_desc p {
	margin-bottom: 10px;
	line-height: 21px;
	font-size: 18px;
	color: #000000;
}
div#spek_img img {
	max-width: 100%;
	max-height: 100%;
}

div#s_pop_name {
	margin: 12px;
	font-size: 18px;
	font-family: HelveticaBold;
}
div#s_pop_desc {
    width: 90%;
    max-height: 340px;
    overflow: auto;
}
.h_i_c {
	width: 500px;
}
.h_i_c img {
	max-width: 100%;
}
.cv_name {
	font-size: 18px;
	padding: 20px 0px;
	font-family: HelveticaBold;
}
.sponsor_tx p,.sponsor_m_tx p {
	margin-bottom: 10px;
}
p.sp_title {
	font-size: 18px;
	font-family: HelveticaBold;
}
.sp_s_m_img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	flex-wrap: wrap;
}

.reg_title{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 20px;
}
.reg_title_text{
	font-family: HelveticaBold;
	font-size: 28px;
	display: flex;
	flex:1;
}
.reg_title_infos{
	display: flex;
	flex-direction: row;
	flex: 0.5;;
}
.reg_title_info{
	display: flex;
	flex-direction: row;
	flex:1;
	align-items: center;
	justify-content: flex-end;
}
.reg_title_info_img{

}
.reg_title_info_name{
	font-family: HelveticaBold;
	font-size: 16px;
	color: #106DB2;
	margin-left: 8px;
}
table{
	width: 100%;
	border: 1px solid #E2E2E2;
	border-collapse: collapse;
	margin:0px auto;
}
thead{

}
tbody{

}
tr th{
	color: #888888;
	font-family:HelveticaRegular ;
	font-size: 14px;
	border-bottom: 1px solid #E2E2E2;
}
tr td{
	color: #000000;
	font-family:HelveticaRegular ;
	font-size: 14px;
	border-bottom: 1px solid #E2E2E2;
}
td, th {
	border-right: 1px solid #E2E2E2;
	text-align: left;
	padding: 10px 30px;
	width: 27%;
}
.table_f_s{

}
.table_main{
	margin-bottom: 20px;
}
.main_reg_btn{
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 273px;
	background-color: #106DB2;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	-webkit-border-radius:10px ;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 30px;
}
.main_reg_btn > a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	width: 100%;
	height: 100%;
}
.name {
    text-align: center;
    text-transform: capitalize;
	font-size: 14px;
}
table > tbody > tr:nth-child(2n){
	background-color: #106DB213;
}
/*table > tbody > tr:hover{*/
	/*background-color: #9DD54C52;*/
/*}*/
.active_tr{
	background-color: #9DD54C52 !important;
}
.smain_title_s {
    font-family: HelveticaRegular;
    font-size: 14px;
    margin-bottom: 25px;
}
.reg_main{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    padding: 10px;
}
.reg_col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    justify-content: flex-end;
}
.reg_inp_main_lable{
    font-family: HelveticaRegular;
    font-size: 14px;
    margin-bottom: 5px;
}
.reg_inp_main_lable > span{
    color: #DA2524;
}
.err_not_all{
    color: #DA2524;
    font-family: HelveticaRegular;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}
.reg_inp_main > input{
    padding: 14px 30px;
    border: 1px solid #DBE1E8;
    box-shadow: 0 0 black;
    border-radius: 3px;
    width: 83%;
}
.reg_inp_main > select{
    padding: 14px 30px;
    border: 1px solid #DBE1E8;
    box-shadow: 0 0 black;
    border-radius: 3px;
    width: 100%;
}
.reg_inp_main{
    margin-top: 20px;
}
.reg_inp_strno{
    display: flex;
    flex-direction: row;
}
.reg_inp_strno > input:first-child{
    padding: 14px 30px;
    border: 1px solid #DBE1E8;
    box-shadow: 0 0 black;
    border-radius: 3px;
    width: 65%;
}
.reg_inp_strno > input:last-child{
    padding: 14px 30px;
    border: 1px solid #DBE1E8;
    box-shadow: 0 0 black;
    border-radius: 3px;
    width: 25%;
    margin-left: 5%;
}
.reg_main_btn_main{
	display: flex;
	flex-direction: row;
	margin-top: 33px;
	margin-bottom: 100px;
	align-items: center;
	justify-content: space-between;
}
.terms_col a {
	color: #106db2;
	font-weight: bold;
	text-decoration: underline;
}
.terms_col {
	font-size: 14px;
}
p.tit {
	font-weight: bold;
	margin: 10px 0px;
}
p.tx {
	margin-bottom: 5px;
}
.bank_info {
	display: flex;
	flex-direction: column;
	margin: 50px 0px;
}
.b_tt {
	font-size: 22px;
	font-weight: 600;
}
.pay_desc span,.pay_state span{
	font-weight: bold;
}
.bank_info_p a {
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 273px;
	background-color: #106DB2;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 20px;
}
.reg_main_btn_cont{
    display: flex;
}
.reg_main_btn{
    background-color: #106DB2;
    display: flex;
    flex-direction: row;
    width: 273px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
	border: none;
}
.reg_main_btn_text{
    color: #FFFFFF;
    font-family: HelveticaRegular;
    font-size: 18px;
    margin: 0px 5px;
}
.reg_second{
    display: none;
}
.reg_s_colsp{
    width: 28%;
}
.reg_s_cols_check{
    width: 13%;
    text-align: center;
}
.reg_s_cols_price{
    width: 15%;
    text-align: center;
}
.reg_s_colsp_bl{
    background-color: #106DB213;
}
.reg_s_checkbox{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #106DB2;
    margin: 0px auto;
    cursor: pointer;
}
.reg_s_checked{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #106DB2;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
}
.reg_s_checked_active{
    display: block;
}

.reg_s_checkbox_s{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #106DB2;
    margin: 0px auto;
    cursor: pointer;
}
.reg_s_checked_s{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #106DB2;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
}
.reg_s_checked_active_s{
    display: block;
}





.reg_s_tabs_main{
    margin-top: 25px;
}
.reg_s_total_main{
    text-align: right;
    margin: 20px 0px;
}
.reg_s_total_main > p{
    color: #575656;
    font-family: HelveticaBold;
    font-size: 20px;
}
.reg_s_total_main > p > span{
    color: #000000;
    font-family: HelveticaBold;
    font-size: 30px;
}

.pro_temas:nth-of-type(2) {
	border-top: 1px solid #7166667d;
	padding-top: 8px;
}
.midle_col {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #106DB2;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 0px;
    margin-bottom: 15px;
    border-radius: 3px;
}
.midle_col_b.bord_b {
    width: 10px;
    height: 1px;
    background: #fff;
}
.midle_m_col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abs_con p {
	color: rgb(51,51,51);
	margin-bottom: 10px;
}
.commite_m_col {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.commute_col {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 270px;
	height: 270px;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
	margin-bottom: 20px;
	cursor: pointer;
}
.c_m_name{
	font-weight: bold;
}
.c_desc {
	text-align: center;
	margin: 10px 0px;
}
.c_desc {
	text-align: center;
	margin: 10px 20px;
}
.contact_btn_text{
	background-color: #106DB2;
	display: flex;
	flex-direction: row;
	width: 273px;
	height: 70px;
	cursor: pointer;
	border-radius: 10px;
	justify-content: space-around;
	align-items: center;
	border: none;
	overflow: hidden;
	color: #FFFFFF;
}
.contact_btn_text > button{
	background-color: #106DB2;

}
.cont_ok{
	text-align: center;
	color: #48c157;
	font-size: 18px;
	margin-bottom: 25px;
}
.cont_err{
	text-align: center;
	color: #ed0507;
	font-size: 18px;
	margin-bottom: 25px;
}

.wrapper{
	width:93%;
	padding-top: 20px;
	text-align:center;
	margin: 0 auto;
	margin-bottom: 60px;
}
.carousel{
	width:90%;
	margin:0px auto;
}
.slick-slide{
	margin:10px;
}
.slick-slide img{
	width:100%;
	border: 2px solid #fff;
}
.button{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.slide-arrow{
	position: absolute;
	top: 50%;
	margin-top: -15px;
}
.prev-arrow{
	left: -40px;
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 15px solid #106DB2;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.next-arrow{
	right: -40px;
	width: 0;
	height: 0;
	border-right: 0 solid transparent;
	border-left: 15px solid #106DB2;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.map{
	/*margin-bottom: 60px;*/
}
.tr_table td{
	background: #e9ecef;

}
.tr_plenary td{
	background: #3989c7;
	color: #fff;

}
.td_time{
	color:#fff;
	display: flex;
	width: 100%;
	align-items: center;
	flex: 1;
	box-sizing: border-box;

}
.td_time img{
	margin-left: 10px;
	margin-top: 3px;
	height: 30px;
}
td.tr_table_tr {
	background: #3989c7;
	color: #FFF;
}
td.tr_table_tr:nth-of-type(2) {
	font-family: HelveticaBold;
}
.p_sname span {
	color: #232e35;
}

.time_h{
	background: #106db2;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
}
.name_h_s{
	font-size: 22px;
}
.sp_s_img{
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.sp_s_img > img{
	width: 100%;
}
.sp_s_img > p {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	top: 30%;
	font-size: 22px;
	font-family: HelveticaBold;
	color:#fff;

}
.wrapp_partners_logo{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;
}
.wrapp_partners_logo.plat{
	width: 100%;
}
.p_logo{
    width: 170px;
    margin-right: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_logo.plat{
	width: 100%;
	margin-right: 0px;
	height: auto;
}
.p_logo > img{
	max-height: 100%;
	max-width: 100%;
}
.p_logo.plat > img{
	height: auto;
	width: 100px;
}
.session_title{
	width: 140px;
	display: inline-block;
}
.download_pdf {
	display: flex;
	justify-content: center;
	align-items: center;
}
a.download_pdf_a img {
	width: 150px;
}
.logo_on{
	text-align:left;
	margin-bottom: 15px;
}
.reg_main_btn_new{
	background-color: #106DB2;
    display: flex;
    flex-direction: row;
    width: 273px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    border: none;

}
@media  (max-width: 1030px) {
	.head_timer {
		margin-top: 20px;
	}
	.timer {
		width: 100px;
		height: 100px;
	}
	head_reg_and_pay {
		width: 197px;
	}
	.head_phones{
		/*display: none;*/
	}
	.images_header {
		/*margin-top: 41px;*/
	}
}

/******program**************/
@media (max-width: 1200px) {
	.content {
		width: 100%;
	}
}
@media (max-width: 1030px) {
	.history{
		padding-right: 15px;
		padding-left: 15px;

	}
	.wrapper {

		margin-bottom: 10px;
	}
	.speakers_col {
		flex: 1 1 auto;
	}
	.next-arrow{
		display: none!important;
	}
	.prev-arrow{
		display: none!important;
	}
	.button{
		display: none!important;
	}
	.head_phones {
		margin-top: 50px;
	}
}
@media (max-width: 770px) {
	.sp_s_img > p {
		width: 100%;
		top: 28%;
		font-size: 18px;
	}
	.time_h {
		background: #106db2;
		color: #fff;
		padding: 5px;
		border-radius: 3px;
		display: block;
		width: 120px;
		text-align: center;
		margin: 0 auto;
	}
	.name_h_s {
		font-size: 22px;
		text-align: center;
		display: block;
	}
	.timer {
		width: 70px;
		height: 70px;
	}
	.timer_num {
		font-size: 27px;
	}
	.timer_word {
		font-size: 17px;
	}
	.head_phones {
		margin-top: 10px;
		padding-left: 13px;
	}
	.head_actions {
		margin-top: 10px;
		padding-left: 15px;
		flex-direction: row;
	}
	.head_reg_and_pay {
		margin-left: 10px;
		margin-top: 0px;
	}
	.head_timer {
		margin-top: 82px;
		margin-left: 10px;
	}
	.commite_m_col {
		justify-content: space-around;
	}
	div#pop_speak_col {
		width: 90%;
	}
	.sponsor_m_col {
		padding: 15px;
	}
	.sp_s_m_img {
		justify-content: space-around;
	}
	.reg_title_infos{
		flex-direction: column;
	}
	.header_image {
		height: 370px;
	}
    .reg_inp_main > input {
        width: 71%;
    }
    .reg_inp_main_lable {
        font-size: 12px;
    }
	.head_hotel_name {
		font-size: 10px;
	}
	.head_hotel_icon img{
		height: 25px;
	}
	.head_hotel_loc {
		width: 104px;
	}
	.images_header {
		/*margin-top: 14px;
		margin-left: 7px;*/
	}
}
@media (max-width: 425px) {
	.wrapp_partners_logo{
		justify-content: center;
	}
	.images_header img {
		width: 30px;
	}
	.commute_col {
		width: 90%;
		padding: 10px;
	}
	.table_main {
		margin-bottom: 20px;
		overflow: hidden;
		overflow-x: scroll;
		overflow-y: scroll;
	}
	.pro_m_bl {
		flex-direction: column;
		padding-top: 12px;
	}
	.pro_m_bl {
		width: 100%;
		min-height: auto;
	}
	.pro_man_about {
		box-sizing: border-box;
		padding-left: 15px;
	}
	.pro_man_img {
		width: 100%;
		min-height: auto;
	}
	.pro_tabs {
		flex-direction: row;
	}
	.tabs_col {
		width: 100%;
		flex-direction: column;
		font-size: 13px;
	}
	.prog_h_t{
		display: none;
	}
	.prog_h_con {
		justify-content: space-around;
		width: 100%;
	}
	.tabs_col:after{
		display: none;
	}
	.head_actions {
		justify-content: space-evenly;
	}
	.pro_name_col {
		justify-content: space-around;
	}
	.p_name {
		/*font-family: 'HelveticaRegular';*/
		font-size: 14px;
	}
	.p_company {
		font-family: 'HelveticaRegular';
		font-size: 12px;
		margin-left: 0px;
	}
	.prog_h_con_c a{
		font-family: 'HelveticaRegular';
		font-size: 12px;
	}
	.prog_h_con_c img {
		width: 15px;
	}
    .reg_main {
        flex-direction: column;
    }
    .reg_inp_main > select {
        width: 90%;
    }
    .reg_main_btn_main {
        justify-content: space-around;
    }
}
@media (max-width: 510px) {
	.h_i_c {
		width: 95%;
		margin: 0px auto;
	}
	.logo_on{
		text-align:left
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.main_reg_btn {
		height: 42px;
	}
	.reg_title_info_img img{
		width: 14px;
	}
	.head_line_img img {
		width: 14px;
	}
	.head_line_info {
		font-size: 12px;
	}
	.reg_title_text {
		font-size: 16px;
		flex: 1;
		align-items: center;
	}
	.reg_title_infos{
		flex: 1;
	}
	.reg_title_info_name a{
		font-size: 14px;
	}
	.reg_title_info_name {
		font-size: 14px;
	}
	.sp_s_img > img{
		height: 40px;
	}
	.sp_s_img > p{
		font-size: 14px;
	}
	.cv_name {
		padding: 20px 14px;
	}
	.for_mob {
		display: flex;
	}

	.content {
		width: 98%;
        margin: 0px auto;
	}

	.timer {
		width: 30px;
		height: auto;
		/*flex: 1;*/
		display: flex;
		flex-direction: column;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: 1px solid #FFFFFF70;
		align-items: center;
		justify-content: center;
	}

	.timer_num {
		font-family: HelveticaBold;
		color: #106DB2;
		font-size: 29px;
	}

	.timer_word {
		color: #106DB2;
		font-size: 10px;
	}

	.timer_num {
		font-family: HelveticaBold;
		color: #106DB2;
		font-size: 17px;
	}

	.header_image {
		height: 173px;
	}

	.head_menu {
		display: none;
	}

	.for_pic {
		display: none;
	}

	.head_phones {
		flex-direction: column;
		margin-top: 14px;
		margin-left: 0px;
		font-size: 14px;
		padding-left: 3px;
	}

	.head_timer {
		margin-top: 24px;
		margin-left: 5px;
	}

	.head_actions {
		margin-left: 5px;
		margin-right: 10px;
		flex-direction: row;
	}
	.head_reg_and_pay{
		margin-top: 0px;
	}
	.main_page_title {
		text-align: center;
	}

	.main_mem {
		flex-direction: column;
	}

	.member_img {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}

	.member_img_main > img {
		width: 100%;
	}

	.member_desc_text {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 25px;
	}

	.member_desc_text p {
		text-align: justify;
	}

	.head_rp_text {
		color: #FFFFFF;
		font-size: 12px;
		margin: 5px;
	}

	.head_reg_and_pay {
		display: flex;
		flex-direction: row;
		height: 40px;
		width: 273px;
		background-color: #106DB2;
		justify-content: center;
		cursor: pointer;
		align-items: center;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
		margin-right: 5px;
		box-shadow: 0px 0px 1px rgb(16, 109, 178);
	}
	.head_reg_and_pay > a{
		display: flex;
		flex-direction: row;
		justify-content: center;
		cursor: pointer;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.head_rp_arrow {
		margin: 5px;
		display: flex;
	}

	.head_rp_arrow > img {
		width: 15px;
	}

	.head_hotel_loc {
		display: flex;
		flex-direction: row;
		background-color: #111f2a;
		width: auto;
		height: 40px;
		justify-content: center;
		cursor: pointer;
		align-items: center;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-right: 9px;
		margin-left: 0px;
		padding-left: 5px;
		padding-right: 5px;
		box-shadow: 0px 0px 3px rgb(16, 109, 178);
	}

	.head_hotel_loc img {
		height: 25px;
	}
	.head_hotel_name{
		text-align: center;
		font-size: 9px;
		color:#fff;
	}

	.mob_btn{
		position: fixed;
		width: 50px;
		border-radius: 25px;
		height: 50px;
		bottom: 30px;
		right: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #111f2a;
		box-shadow: 0px 0px 10px rgb(16, 109, 178);
		z-index: 50;

	}
	.burger{
		display: flex;
		height: 13px;
		margin-bottom: -2px;
		margin-top: -2px;
		width: 13px;
		border-color:#106db2;
	}

	.top_row{
		display: flex;
		flex-direction: row;
	}
	.bottom_row{
		display: flex;
		flex-direction: row;
	}

	.burger:nth-child(1) {
		transform: rotate(136deg);
		border-left: 2px solid #106db2;
		border-bottom: 2px solid #106db2;
		transition: 0.3s;
	}
	.burger:nth-child(2) {
		transform: rotate(-136deg);
		border-left: 2px solid #106db2;
		border-top: 2px solid #106db2;
		transition: 0.3s;
	}

	.close_menu{
		border-left: 0px solid #fff!important;
		height: 0;
		margin-bottom: -1px;
		margin-top: -1px;
		width: 25px;
	}
	.h_menu {
        padding-top: 20px;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
	}
	.head_menu {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 30;
	}
	.h_menu_item {
		height: auto;
		border-bottom: 1px solid #111f2a30;
		flex-direction: column;
		align-items: start;
	}
	.h_menu_item > .h_m_a {
		align-items: center;
		justify-content: unset;
		padding: 12px 17px;
	}
	.open_menu_item {
		position: relative;
		display: flex;
		top:0px;
	}
	a.open_m_i {
		height: auto;
	}
	a.open_m_i {
		height: auto;
		align-items: start;
		justify-content: start;
		border-top: none;
		padding: 5px 50px;
	}
	.cv_name {
		font-size: 16px;
	}

}
